:root {
  --bs-dark-color: #1a1d20;
  --bs-dar-primary: #00070e;
  --bs-main-color: #f6fbff;
  --bs-primary-color: #d0eaf7;
  --secondary-color: #0080ff;
  --bs-supporting-color: #fb0193;

}



.card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #1b1a1c;
}

.card-wrapper {
  width: 290px;
  height: 200px;
  box-shadow: 0px 3px 50px #1c1a1a;
  display: flex;
  flex-direction: column;
}

.card-top {
  width: 100%;
  height: 5%;

}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  height: 30px;
  padding: 7px 7px !important;
  text-align: center;
  font-size: 20px;
  color: #fff;
  /* Increase font size */
}

.task-container {
  height: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: #060707;
  padding: 40px 100px;
}

.card-wrapper:hover {
  transform: scale(1.02);
}

.task-info {
  margin-bottom: 10px;

}

.task-info strong {
  margin-right: 10px;
  /* Adjusted secondary color */
}

.deadline,
.status {
  display: inline-block;
  margin-right: 15px;
  color: var(--bs-supporting-color);
  /* Adjusted tertiary color */
}

.icon-wrapper {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.icon-wrapper i {
  font-size: 24px;
  /* Increase icon size */
  margin-right: 10px;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}

.icon-wrapper i:hover {
  color: var(--bs-supporting-color);
}

.completed .card-header {
  text-decoration: line-through;
  opacity: 0.7;
}

.completion-checkbox {
  position: absolute;
  top: 10px;
  /* Adjust the top position as needed */
  right: 10px;
  /* Adjust the right position as needed */

}