:root {
  --bs-dark-color: #1a1d20;
  --bs-dar-primary: #00070e;
  --bs-main-color: #f6fbff;
  --bs-primary-color: #d0eaf7;
  --secondary-color: #0080ff;
  --bs-supporting-color: #fb0193;

}

.header {
  height: 200px;
  width: 100%;
  background-color: white;
  padding-top: 120px;
  align-items: center;
}

.create {
  height: 50px;
  width: 130px;
  margin: 30px;
}

.heading4 {
  padding-top: 30px;
}

.task {
  margin: 30px;
  display: flex;
  padding-bottom: 20px;
}

.heading h3 {
  text-align: center;
  padding-top: 5%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
}

.heading h3::after {
  content: '';
  background-color: var(--secondary-color);
  width: 100px;
  height: 5px;
  bottom: -5px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);

}