body {
  font-family: 'Arial', sans-serif;
  background-color: #0c0420;
  margin: 0;
  padding: 0;
}

.usercontainer {
  max-width: 800px;
  margin: 50px auto;
  background-color: #373042;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #fff;
}

p {
  color: #fff;
}


.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

/* Optional: Style links or buttons for editing profile or log out */
.edit-profile-link,
.logout-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.edit-profile-link:hover,
.logout-button:hover {
  background-color: turquoise;
}