/* Navbar.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

:root {
    --bs-dark-color: #1a1d20;
    --bs-dar-primary: #000e02;
    --bs-main-color: #620f8c;
    --bs-primary-color: #0f6f47;
    --secondary-color: #26d20c;
    --bs-supporting-color: #fb0193;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
a {
    font-size: 1.15rem;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.navbar-brand {
    color: var(--bs-dar-primary);
    
}

.navbar {
    background-color:#16e9c9;
    font-size: larger;
    height: 70px;
}

.ml-auto {
    margin-left: auto;
}

.nav-link {
    color: var(--bs-main-color);
}

.nav-link:hover {
    color: var(--bs-dar-primary);
}

/* Override hover color for Task Tracker */
.navbar-brand:hover {
    color: white;
}
